<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../Public/Styles/style.css">
    <link rel="icon" href="../Resources/penguinonly.png " >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li><a href="#home">Inicio</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#about">Sobre Nosotros</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </nav>

    <div class="text">
        <span class="p1">Bienvenido a Penguin</span><br>
        <span class="p2">un framework</span><br>
        <span class="p3">encillo y versátil</span><br>
            <p>Crea tus webs más rápido y mantén todo  <br><br> estructurado en un solo lugar, sin tanto rollo</p>
    </div>

    <div class="penguin">
        <center><img src="../Resources/penguinonly.png"></center>
    </div>
</body>
</html>