<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../Public/Styles/style.css">
    <link rel="icon" href="../Resources/penguinonly.png " >
    
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-list">
            <li><a href="#home">Inicio</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#about">Sobre Nosotros</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </nav>
    
    <div class="text">
            <h1>Bienvenido a Penguin <br> un framework <br> sencillo y versátil</h1>
            <p>Crea tus webs más rápido y mantén todo estructurado <br> en un solo lugar, sin tanto rollo</p>
    </div>
    <div class="penguin">
        <center><img src="../Resources/penguinonly.png"></center>
    </div>
</body>
</html>